@charset "UTF-8";

// ---------------------------------------------
//  base
// ---------------------------------------------

body{
    font-family: "メイリオ", Meiryo, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
    font-size: 16px;
    line-height: 1.7;
    color: #111111;
}

